HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.m2/**

### Terraform ###
# Pasta de plugins e módulos (muito pesada)
.terraform/

# Arquivos de estado (contêm segredos e o mapa da sua infra)
*.tfstate
*.tfstate.backup

# Arquivos de log e travas
.terraform.lock.hcl
